
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    
    padding: 0 15px;
}
a { 
    color: black;
    text-decoration: none;
    font-size: 3vh;
 
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
    margin-right: 80vh;
    list-style: none;
}
.logo a {
   font-size: 3vh;
   font-weight: bold;
}
.item {
    padding: 10px;
    margin-left: 2rem;
    border-radius: 30px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.1);	
}
.item.button {
    padding: 9px 5px;
    
}
.item:not(.button) a:hover {
    color: #ccc;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 20vh;
}

.background{
    background-image:url('https://www.abouther.com/sites/default/files/2020/05/29/go_cook_-go_cook_hero_shot_2.jpg');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
   



/* footer */

.footer {
  background-color: rgb(0, 0, 0);
  opacity: 75%;
}
.footer-menu {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.footer-item {
  padding: 50px;
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: rgb(252, 248, 248);
  font-size: 25px;
}
.footer-icons {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

.svg-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
footer i {
  padding: 20px;
  margin: 20px;
}

