nav {
  padding: 0 15px;
}

.logo a {
  color: black;
  font-size: 3vh;
}

a:visited {
  text-decoration: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
  list-style: none;
  margin-right: 70vh;
}
.logo a {
  font-size: 3vh;
  font-weight: bold;
}
.item {
  padding: 10px;
  margin-left: 2rem;
  border-radius: 30px;
  list-style: none;
}
.item > a {
  color: black !important;
  font-size: larger;
}
nav .navbar-nav li a {
  color: white !important;
}
.item > a:hover {
  color: #ccc;
  text-decoration: none;
}
.logo > a:hover {
  color: black;
  text-decoration: none;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 20vh;
}

.background {
  background-image: url("https://www.abouther.com/sites/default/files/2020/05/29/go_cook_-go_cook_hero_shot_2.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}

p {
  font-family: inherit;
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
}
/* slimrecipe */

.gridcontainer {
  background-color: rgb(218, 214, 217);
  padding:50px;
  margin:0px;
  display: grid;
  grid-template-columns: 600px 400px 400px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2017%2F10%2F22%2F21%2F02%2Ffood-2879265_960_720.jpg&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size:cover;
  background: linear-gradient(rgb(221, 221, 221), rgba(248, 246, 246, 0.911));
  
  font-style: italic;
}

.container {
  margin:20px;
  width: 200px;
}



@media screen and (max-width: 678px) {
  .gridcontainer {
    display:inline-block;
    clear:both;
    margin:10px;
    
    
    
    
  }
}


.item2 {
  grid-column-start: 3;
  margin: 120px;
  padding-top: 70px;
}

.picture {
  width: 500px;
  height: 300px;
  background-color: rgb(218, 214, 217);
  margin: 70px;
  border-radius: 10px;
  border: 4px solid #ddd;
  box-shadow: 0 0 5px 3px rgba(14, 59, 75, 0.418);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.picture:hover {
  -webkit-transform: scale(1.3);
   transform: scale(1.3);
 }




h3 {
  
  font-weight: bolder;
  box-shadow: 0 0 5px 3px rgba(215, 221, 223, 0.9);
}

.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color 0.4s;
}
.rating a:hover,
.rating a:focus {
  color: orange;
  cursor: pointer;
}

span {
  color: #b02b96;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

.cuisto {
  font-weight: bold;
  font-size: 18px;
}

h2 {
  padding-top: 20px;
}


/* footer */

.footer {
  background-color: rgb(0, 0, 0);
  opacity: 75%;
}

.footer-menu {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.footer-item {
  padding: 50px;
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: rgb(252, 248, 248);
  font-size: 25px;
}
footer a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

.svg-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
footer i {
  padding: 20px;
  margin: 20px;
}



    
   
    
    

  